
#banner {
    position: relative;
}

h1 {
    position: absolute;
    bottom: 10px;
    left: 700px;
    color:cyan;
}
h2{
	position: absolute;
    bottom: 10px;
    left: 160px;
    color:#fff;
	font-size: 30px;
	color: cyan;
}